#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Éléments poussés aux extrémités */
    padding: 20px 100px;
}

.photographer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%; /* Limitation de la largeur pour éviter l'étirement horizontal */
}

#photographerName,
#photographerLocation,
#photographerTagline {
    color: #333;
    margin: 0; /* Aucun espace entre les lignes */
    padding: 5px 0; /* Un peu d'espace au-dessus et en dessous de chaque ligne */
    white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
}

#photographerName {
    color: #D3573C;
    font-size: 32px;
    font-weight: bold;
}

#photographerLocation {
    color: #901C1C;
    font-size: 24px;
}

#photographerTagline {
    font-size: 20px;
}

.contact_button {
    background-color: #901C1C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2%; /* Ajoute un espace entre le bouton et le texte */
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%; /* Ajoute un espace entre l'image et le bouton */
}

.image-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
/* Styles pour la modal */
#contact_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
    width: 50%;
    padding: 35px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(194, 104, 104);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: #901C1C;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* Filter dropdown styles */
.filter-container {
    display: flex;
    align-items: center;
    padding-left: 100px; /* Align with the logo */
    margin-top: 20px;
}

.filter-label {
    margin-right: 10px;
    font-weight: bold;
    color: #000; /* Update to match your color scheme */
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 200px; /* Adjust the width as needed */
}

.custom-select {
    position: relative;
    width: 200px; /* Ajustez cette largeur comme nécessaire */
    background-color: #b52e31;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    text-align: left; /* Alignez le texte à gauche */
    margin-left: 70px;
}


.custom-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    /* Utilisez 'content' si vous utilisez ':after' ou ':before' pseudo-elements pour la flèche,
       sinon utilisez simplement 'text-align' et autres propriétés de texte pour styliser la flèche. */
    text-align: center;
    display: inline-block;
  }

.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #b52e31;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    overflow: hidden; /* Ensures the border radius applies to children */
    margin-top: 2px; /* Space between the select box and options */
}

.custom-option {
    position: relative;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid white; /* White line between options */
    background-color: #b52e31;
    color: white;
    transition: background-color 0.3s ease;
}

.custom-option:last-child {
    border-bottom: none; /* No border for the last option */
    margin-bottom: 10px; /* More space at the bottom */
}

.custom-option:hover {
    background-color: #a22b2f;
}

.custom-select.open .custom-options {
    display: block;
}
/* VI CSS media */
/* Media grid styles */
.media-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    gap: 10px; /* Espacement de 10px entre les images */
    justify-content: center; /* Centrer les éléments dans le conteneur */
    margin: 60px; /* Espacement en haut et en bas */
}

.media-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}

.media-img-container {
    width: 100%; /* Largeur fixe pour les images */
    height: 250px; /* Hauteur fixe pour les images */
    overflow: hidden;
    border-radius: 15px;
}

.media-img-container img {
    width: 100%; /* Largeur de l'image à 100% du conteneur */
    height: 250px; /* Hauteur fixe pour les images */
    object-fit: cover; /* Assure que l'image couvre entièrement l'espace disponible sans être déformée */
    border-radius: 15px; /* Ici, vous pouvez ajuster pour obtenir l'arrondi désiré */
    overflow: hidden; /* Cache les débordements pour maintenir l'arrondi */
}

.media-details {
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Titre à gauche et likes à droite */
    align-items: center;
    color: #901C1C;
}

.media-details h3 {
    margin: 0;
    font-size: 1rem;
}

.media-details span {
    cursor: pointer; /* Style du curseur pour indiquer la possibilité de cliquer */
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.heart-icon {
    font-size: 25px; /* Taille plus grande pour le coeur */
    margin-left: 5px; /* Espacement entre le coeur et le nombre de likes */
    /* Assurez-vous que la font-family du coeur soit la même que celle de l'icône que vous utilisez */
    font-family: 'Font Awesome 5 Free'; /* ou 'Font Awesome 5 Pro' si vous avez la version pro */
    font-weight: 900; /* Font Awesome nécessite font-weight 900 pour les icônes solides */
}

/* FOOTER STYLE !!*/
/* Add this to your existing CSS file */
.page-footer {
    position: fixed;
    left: 70%;
    bottom: 0;
    background-color: rgb(194, 104, 104);
    color: black;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.total-likes {
    margin-left: 20px; /* Ajoute un peu d'espace à gauche */
    margin-right: 20px;
    font-size: 1.5em; /* Augmente la taille du texte */
}

.photographer-price {
    margin-right: 20px; /* Ajoute un peu d'espace à droite */
    font-size: 1.5em; /* Augmente la taille du texte */
}


/* GALLERY STYLE !!*/
.gallery-modal {
    display: none; /* Caché par défaut */
    position: fixed; /* Reste en place */
    z-index: 1500; /* Se place au-dessus */
    left: 0;
    top: 0;
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    overflow: auto; /* Permet le défilement si nécessaire */
    background-color: #FFF; /* Fond blanc complètement opaque */
}


.gallery-close {
    position: absolute;
    top: 15px; /* Position from the top */
    right: 35px; /* Position from the right */
    color: #b22222; /* Bordeaux color for the close button */
    font-size: 40px; /* Size of the close button */
    font-weight: bold;
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
}

.gallery-prev, .gallery-next {
    cursor: pointer; /* Cursor pointer to indicate they're clickable */
    position: absolute;
    top: 50%; /* Center vertically */
    width: auto;
    padding: 16px; /* Padding for larger click area */
    margin-top: -50px; /* Adjust to vertically align arrows */
    color: #b22222; /* Bordeaux color for arrows */
    font-weight: bold;
    font-size: 20px; /* Size of the arrow text */
    transition: color 0.3s ease; /* Transition for color change */
    user-select: none; /* Prevent text selection */
}

.gallery-prev {
    left: 0; /* Align to the left */
    border-radius: 3px 0 0 3px; /* Rounded corners on the left */
}

.gallery-next {
    right: 0; /* Align to the right */
    border-radius: 0 3px 3px 0; /* Rounded corners on the right */
}

.gallery-content {
    margin: auto; /* Center the content */
    display: block; /* Block display to fill width */
    max-width: none; /* Remove max width restrictions */
}

.gallery-content img, .gallery-content video {
    width: 100%; /* Full width for images/videos */
    max-height: 80vh; /* Max height for images/videos */
    object-fit: contain; /* Ensure the content fits without stretching */
    background-color: rgba(255, 255, 255, 0.9)
}

#caption {
    position: absolute;
    left: 50%; /* Positionner au milieu horizontalement */
    transform: translateX(-50%); /* Décaler de la moitié de sa largeur pour un centrage précis */
    color: #b22222; /* White color for the caption */
    font-size: 18px; /* Font size for the caption */
    padding: 10px; /* Padding inside the caption box */
    border-radius: 5px; /* Rounded corners for the caption box */
    max-width: calc(100% - 40px); /* Max width with padding considered */
    box-sizing: border-box; /* Include padding and border in the width */
}
.no-scroll {
    overflow: hidden;
}