@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 10px;
}
.photographer_section article .location {
    color: #8b0000; /* Bordeaux */
    margin: 2px 0; /* Marge réduite entre le nom et la ville */
}

.photographer_section article .tagline {
    margin: 2px 0; /* Marge identique à .location */
}

.photographer_section article .price {
    color: #ccc; /* Gris très clair */
    margin: 2px 0; /* Marge identique à .location et .tagline */
}
.photographer_section article .image-container {
    height: 200px; /* Hauteur du conteneur de l'image */
    width: 200px; /* Largeur du conteneur de l'image */
    border-radius: 50%; /* Pour rendre le conteneur rond */
    overflow: hidden; /* Masque les parties de l'image qui débordent */
    display: flex; /* Pour centrer l'image dans le conteneur */
    justify-content: center; /* Centre horizontalement l'image dans le conteneur */
    align-items: center; /* Centre verticalement l'image dans le conteneur */
}

.photographer_section article img {
    object-fit: cover; /* Zoom pour couvrir et se concentrer sur la tête */
    width: 100%; /* Assurez-vous que l'image remplit le conteneur */
    height: 100%; /* Assurez-vous que l'image remplit le conteneur */
    transform: scale(1.2); /* Zoom de 20% sur l'image */
}